<h1>le compte avec l'id <%= @account.id %> dans la table Account</h1>
<h2>a pour account_number : <strong><%= @account.account_number %></strong></h2>
<h2>il correspond au fournisseur: <strong><%= @supplier.name %> </strong> </h2>
<h2>son credit rating est de : <strong><%= @account_history.credit_rating %></strong>