<div class="container hasStyle">
<h1>L'association has_many</h1>
<div class="row app-links">
	<div class= "small-6 large-centered columns">
		<%= image_tag "has_many2.png" %>
	</div>
	<div class= "small-6 large-centered columns">
		<%= image_tag "has_many2.png" %>
	</div>
	<div class= "small-6 large-centered columns">
		<%= image_tag "has_many2.png" %>
	</div>
</div>
</div>
