<p><a href="http://localhost:3000/orders/2"><%= image_tag "belongs_to.png" %>
</a></p>
<p><a href="http://localhost:3000/suppliers/2"><%= image_tag "has_one.png" %>
</a></p>
<p><a href="http://localhost:3000/customers/1"><%= image_tag "has_many2.png" %>
</a></p>
<p><a href="http://localhost:3000/appointments/1"><%= image_tag "has_many.png" %>
</a></p>