// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.punch-line{
	text-align: center;
}
.app-links{
	margin-top: 50px;
}
.hasStyle{
	
	background: url(/assets/has_many-picto.png); 
}